# Kconfig.defconfig for kod_01

# 右側がCentralなので、右側にキーボード名を設定
if SHIELD_KOD_01_RIGHT

config ZMK_KEYBOARD_NAME
    default "kod_01"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_KOD_01_RIGHT


if SHIELD_KOD_01_LEFT || SHIELD_KOD_01_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_KOD_01_LEFT || SHIELD_KOD_01_RIGHT
