#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "layouts.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "TEST";
            bindings = <
// 5行×3列のテスト用キーマップ
    &kp Q    &kp W    &kp E
    &kp A    &kp S    &kp D  
    &kp Z    &kp X    &kp C
    &kp H    &kp J    &kp K
    &kp B    &kp N    &kp M
            >;
        };
    };
};
